* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    background: maroon;
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.container {
    min-height: calc(100vh - 40px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .2s;
}
.nav-bar ul li a:hover{
    color: black;
    background: #eee;
}
.nav-bar ul li a.active{
    background-color: #eee;
}
.login{
    padding-left: 20px;
}
.nav-bar ul li a.navlogin{
    color: #eee;
    background-color: #11101b;
    transition: .5s;
}
.nav-bar ul li a.navlogin:hover{
    background-color: #eee;
    color: white;
}

.login-left{
    display: flex;
    flex-direction: column;
    justify-content: content;
    background-color: white;
}
.login-right{
    display: flex;
    justify-content: center;
}
.login-right img{
    width: 100%;
}

.login-form{
    width: 450px;
    margin-top: 50px;
}
.login-content{
    display: flex;
    flex-direction: column;
    gap: 35px;
    color:white;
}
.login-footer{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    font-size: 1rem;
}
.login-footer a{
    flex: 6;
    gap: 15px;
    background-color: #fff;
    border-radius: 100px;
    padding: .6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}
.login-footer a:hover{
    background-color: black;
    color: white;
}
.form-tem label:not(.checkboxLabel){
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}
input[type='email'],
input[type='password']{
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}
.pass-key{
    border: 1px solid white;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}
.show{
    display: block;
    position: absolute;
    margin-left: 380px;
    bottom: 250px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
label[for = email],
label[for = password],
label[for = text]{
    font-size: 1.1rem;
    padding-left: 20px;
    font-weight: 4600;;
}
.checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    accent-color: black;
}
button{
    border: none;
    padding: 1rem;
    height: 55px;
    font-size: 18px;
    border-radius: 100px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;
    transition: .5s;
}
button:hover{
    background: black;
    color: white;
}
::placeholder{
    color: grey;
    font-size: 1rem;
}
