body {
  background: maroon;
  color: white;
  font-family: 'verdana';
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}


.header-container {
  position: absolute;
  width: 100%;
  top: 90px; /* Adjust the value to lower or raise the header */
  z-index: 1000;
}


header {
  background-color: black;
  color: #C4AF18;
  text-align: center;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 1500; /* Set z-index higher than the header */
}

.main-section {
  padding-top: 100px; /* Adjust padding to make space for the fixed navbar */
}


.list-container {
  position: relative; /* Change to relative positioning */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  padding-top: 250px; /* Increase the value to create more space below the header */
  z-index: 1000;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  padding-top: 230px; /* Increase the value to create more space below the header */
  position: relative; /* Remove the fixed position */
}


.topnav #myLinks {
  display: none;
}

.logo-container {
  display: inline-block;
  padding: 0;
  max-width: 20%;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h2 {
  margin-bottom: 20px;
}
footer {
  position: relative; /* Fix the footer position at the bottom */
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, #1f1f1f, #666); /* Linear gradient from dark gray to light gray */
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer .container {
  text-align: center;
  padding: 0;
  margin: 20px auto;
  background-color: transparent; /* Set the container background to transparent */
  color: white;
}


.contact-section {
  display: inline-block; /* Display contact section inline */
}

.contact-box {
  display: inline-block; /* Display contact boxes inline */
  vertical-align: middle; /* Align contact boxes vertically */
  margin-right: 20px; /* Add some space between contact boxes */
}

.contact-box a {
  display: center; /* Use flexbox to align icon and text vertically */
  align-items: center; /* Center items vertically */
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Set color for icon text */
}

.contact-box img {
  width: 24px; /* Set width for icons */
  height: 24px; /* Set height for icons */
  margin-right: 5px; /* Add some space between icon and text */
}


.container {  vertical-align: bottom; /* Align container vertically */
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 5%;
  top: 20px;
  transform: translateX(-50%);
  font-size: 24px;
}

    .search-icon {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      position: absolute;
      right: 100px;
      top: 20px;
      transform: translateX(-50%);
    }

    .search-bar {
      display: none;
      padding: 14px 16px;
      border: none;
      background-color: #333;
      color: white;
      position: absolute;
      right: 100px;
      top: 25px;
      transform: translateX(-50%);
    }

    .buy-now-icon {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      position: absolute;
      right: 50px;
      top: 20px;
      transform: translateX(-50%);
    }

 .account-icon {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: absolute;
  right: 0px; /* Adjust the position as needed */
  top: 20px;
  transform: translateX(-50%);
}

.topnav a:hover, .search-icon:hover, .buy-now-icon:hover {
  background-color: #ddd;
  color: black;
}
ol {
  position: relative; /* Position the list absolutely */
  left: 0; /* Align the list to the left */
  bottom: 0; /* Align the list to the bottom */
}


.active {
  background-color: #8B0000;
  color: white;
}



p {
  font-size: 14px; 
}
