body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(background.png)center/cover no-repeat;
    height: 500px;
margin-bottom: 500px;
    
}




header {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s;
    z-index: 1000;
}

.topnav.scrolled {
    background-color:black;
    color: #000;
}


header .logo {
    float: left;
}

header .logo a {
    text-decoration: none;
    color: inherit; 
    font-size: 32px;
    font-weight: bold;
}




.main-section {
    color: #fff;
    text-align: center;
    padding: 200px 0;
    border-bottom: none; /* Remove the border-bottom */
    height: 400px;
}

.main-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin: 0 auto;
    text-align: left; /* Align text to the left */
}

.main-content h1 {
    font-size: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: -340px;
    margin-bottom: auto;
}

.main-content a {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap; /* Inline the text in one line */
    text-decoration: underline;
    align-items: center;
    margin-left: -340px;
    margin-top: 10px;
}

.main-content a:hover {
    color: #FF4433;
}



.cart {
    float: right;
    margin-left: 20px;
}



.main-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.product-container {
    position: relative;
    top: 500px;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 50px;
    background: linear-gradient(to top, #700000, rgb(20, 4, 4));
}

.product-box {
    flex-basis: calc(26% - 40px); 
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block; /* Ensure it's a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
    color: #3498db;
}

footer {
  position: fixed; /* Fix the footer position at the bottom */
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, #1f1f1f, #666); /* Linear gradient from dark gray to light gray */
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer .container {
  text-align: center;
  padding: 0;
  margin: 0px auto;
  background-color: transparent; /* Set the container background to transparent */
  color: white;
}


.contact-section {
  display: inline-block; /* Display contact section inline */
}

.contact-box {
  display: inline-block; /* Display contact boxes inline */
  vertical-align: middle; /* Align contact boxes vertically */
  margin-right: 20px; /* Add some space between contact boxes */
}

.contact-box a {
  display: center; /* Use flexbox to align icon and text vertically */
  align-items: center; /* Center items vertically */
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Set color for icon text */
}

.contact-box img {
  width: 24px; /* Set width for icons */
  height: 24px; /* Set height for icons */
  margin-right: 5px; /* Add some space between icon and text */
}


.container {  vertical-align: bottom; /* Align container vertically */
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.container p {
  margin: 0; /* Remove margin from paragraph */
}


 
.topnav {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 999; /* Lower z-index to ensure it's below the background image */
}


    .topnav #myLinks {
      display: none;
    }

    .logo-container {
      display: inline-block;
      padding: 0;
      max-width: 20%;
    }


    .logo {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }


    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }

    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      left: 5%;
      top: 20px;
      transform: translateX(-50%);
      font-size: 24px;
    }

    .search-icon {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      position: absolute;
      right: 100px;
      top: 20px;
      transform: translateX(-50%);
    }

    .search-bar {
      display: none;
      padding: 14px 16px;
      border: none;
      background-color: #333;
      color: white;
      position: absolute;
      right: 100px;
      top: 25px;
      transform: translateX(-50%);
    }

    .buy-now-icon {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      position: absolute;
      right: 50px;
      top: 20px;
      transform: translateX(-50%);
    }
.account-icon {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: absolute;
  right: 0px; /* Adjust the position as needed */
  top: 20px;
transform: translateX(-50%);
}

    .topnav a:hover, .search-icon:hover, .buy-now-icon:hover {
      background-color: #ddd;
      color: black;
    }

    .active {
      background-color: #8B0000;
      color: white;
    }

